/* breakpoints */
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;

/* colors */
$black: #000;
$white: #fff;
$button: #fffcf4;
$border: #e2e8f0;
$yellow: #ffb800;
$orange: #ff710d;

/* margins */
$margin-sm: 20px;
$margin-md: 40px;

/* typography */
$font-main: 'Open Sans', '돋움', dotum, helvetica, 'Apple SD Gothic Neo', sans-serif, serif;
$font-bold: 'Secular One', sans-serif;

$font-size-226: 30.1333vw;
$line-height-226: 24.1333vw;
$letter-spacing-226: 0;

$font-size-130: 17.3333vw;
$line-height-130: 15.6vw;
$letter-spacing-130: 0;

$font-size-86: 11.4667vw;
$line-height-86: 9.0667vw;
$letter-spacing-86: 0;

$font-size-58: 7.7333vw;
$line-height-58: 7.2vw;
$letter-spacing-58: 0;

$font-size-30: 4vw;
$line-height-30: 4.2667vw;
$letter-spacing-30: 0;

$font-size-26: 3.4667vw;
$line-height-26: 3.7333vw;
$letter-spacing-26: 0;

$font-size-21: 2.8vw;
$line-height-21: 4.1333vw;
$letter-spacing-21: 0;

$font-size-17: 2.2667vw;
$line-height-17: 3.2vw;
$letter-spacing-17: 0;

$font-size-13: 1.7333vw;
$line-height-13: 2.4vw;
$letter-spacing-13: 0;

/* z-indexes */
$gnb-level: 10;
