/* breakpoints */
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;

/* colors */
$black: #000;
$white: #fff;
$button: #fffcf4;
$border: #e2e8f0;
$yellow: #ffb800;
$orange: #ff710d;

/* margins */
$margin-sm: 20px;
$margin-md: 40px;

/* typography */
$font-main: 'Open Sans', '돋움', dotum, helvetica, 'Apple SD Gothic Neo', sans-serif, serif;
$font-bold: 'Secular One', sans-serif;

$font-size-226: 226px;
$line-height-226: 181px;
$letter-spacing-226: -0.06em;

$font-size-130: 130px;
$line-height-130: 117px;
$letter-spacing-130: -0.06em;

$font-size-86: 86px;
$line-height-86: 86px;
$letter-spacing-86: -0.03em;

$font-size-58: 58px;
$line-height-58: 58px;
$letter-spacing-58: -0.03em;

$font-size-30: 30px;
$line-height-30: 32px;
$letter-spacing-30: -0.02em;

$font-size-26: 26px;
$line-height-26: 26px;
$letter-spacing-26: -0.02em;

$font-size-21: 21px;
$line-height-21: 31px;
$letter-spacing-21: 0;

$font-size-17: 17px;
$line-height-17: 24px;
$letter-spacing-17: 0;

/* z-indexes */
$gnb-level: 10;
