#scene-content {
  @include responsive(T) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $scene-level;
    width: 100%;
    height: 100vh;
    pointer-events: none;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
