.main {
  &-section-1 {
    padding-top: vw-sm(50px);

    .title {
      width: vw-sm(546px);
    }

    .sub {
      right: 0;
      bottom: vw-sm(8px);
      width: vw-sm(213px);
    }
  }

  &-section-2 {
    .section-circle p {
      width: vw-sm(220px);
      text-align: center;
    }
  }

  &-section-3 {
    padding-top: vw-sm(300px);

    .title {
      width: vw-sm(525px);
    }

    .sub {
      top: 0;
      right: vw-sm(125px);
      width: vw-sm(95px);
    }
  }

  @include responsive(T) {
    &-section-1 {
      padding-top: vw-md(150px);

      .sub {
        right: auto;
        left: vw-md(510px);
        width: vw-md(200px);
      }
    }

    &-section-2 {
      .section-circle {
        margin-top: -#{vw-md(145px)};
        margin-left: -#{vw-md(75px)};

        p {
          width: vw-md(255px);
          text-align: left;
        }
      }

      .main-section-desc {
        position: absolute;
        top: 0;
        right: vw-md(110px);
      }
    }

    &-section-3 {
      .title {
        width: vw-md(1100px);

        .sm-hidden {
          display: inline-block;
          width: vw-md(170px);
        }
      }

      .sub {
        top: vw-md(134px);
        left: vw-md(50px);
        right: auto;
        width: vw-md(120px);
      }
    }
  }
}
