.main {
  &-section-1 {
    .title {
      width: vw-sm(546px);
    }

    .sub {
      right: 0;
      bottom: vw-sm(8px);
      width: vw-sm(213px);
    }
  }

  &-section-2 {
    .section-circle p {
      width: vw-sm(220px);
      text-align: center;
    }
  }

  @include responsive(T) {
    &-section-1 {
      .sub {
        right: auto;
        left: vw-md(510px);
        width: vw-md(200px);
      }
    }

    &-section-2 {
      .section-circle {
        margin-top: -#{vw-md(145px)};
        margin-left: -#{vw-md(75px)};

        p {
          width: vw-md(255px);
          text-align: left;
        }
      }

      .main-section-desc {
        position: absolute;
        top: 0;
        right: vw-md(110px);
      }
    }
  }
}
